.form{
    margin: 0;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
}

h2{
    margin: 0;
}

.from label{
    margin-bottom: 10px;
}

.form-control{
    border: var(--border);

    
}

.form-control-btn {
    border: var(--border);
    width: 50%;
    color: white;
    background-color: var(--btnColor)
}


#imgInput{border: none;}
